<button
  class="bg-indigo-600 w-[30%] mx-auto flex absolute top-20 left-[680px] rounded-md h-[50px] p-3 shadow-slate-500 text-white font-semibold"
>
  Try it free 7days then 20$/mo
</button>
<section class="grid grid-cols-2 w-[60%] h-[400px] mx-auto mt-40 text-center">
  <div class="mt-16">
    <p class="text-white font-bold text-5xl text-left">
      Learn Code by<br />
      Watching others
    </p>
    <p class="text-white font-semibold text-xl text-left mt-4">
      See how experienced developers <br />
      solve in real-time Watching scripted <br />turtorials is great, but how
      developers <br />think is invaluable.
    </p>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"
    class="bg-white flex flex-col justify-around shadow-lg shadow-red-300 rounded-xl p-8"
  >
    <input
      class="border-2 shadow-green-300 rounded-xl placeholder:text-center ml-8 w-[80%] h-[50px]"
      type="text"
      placeholder="First Name" formControlName = "firstName"
    />
    <input
      class="border-2 shadow-green-300 rounded-xl placeholder:text-center ml-8 w-[80%] h-[50px]"
      type="text"
      placeholder="Last Name" formControlName = "lastName"
    />
    <input
      class="border-2 shadow-green-300 rounded-xl placeholder:text-center ml-8 w-[80%] h-[50px]"
      type="text"
      placeholder="Email" formControlName = "email"
    />
    <input
      class="border-2 shadow-green-300 rounded-xl placeholder:text-center ml-8 w-[80%] h-[50px]"
      type="text"
      placeholder="Password" formControlName = "password"
    />
    <button
      class="bg-emerald-600 border-2 rounded-xl placeholder:text-center ml-8 w-[80%] h-[50px] shadow-green-300 text-white font-bold"
      type="submit"
    >
      Claim Your Free Trail
    </button>
    <p class="text-sm">
      By clicking the button you are agreeing to our
      <strong class="text-red-400">Terms and Conditions</strong>
    </p>
  </form>
</section>
